.app {
  padding: 30px;
  background-image: url("https://neetesh-todo.herokuapp.com/images/bg1.jpeg");
  background-color: #cccccc;
  height: 920px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.card-body {
  padding: 0.5rem !important;
}
